
      body {
        background-image: url(resturaunt-blur.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: grey;
        margin: 0;
        background-attachment: fixed;
      }

      img {
        height: 150px;
        width: 200px;
        margin: 1px auto 1px;
        display: block;
        border-radius:40px;
        text-align: center;
        padding: 20px;
        
      }
      p {
        text-align: center;
      }
      img:hover {
        transform: scale(1.3);
      }
      .images {
        display: flex;
        width: 90%;
        margin: 10 auto;
        flex-wrap: wrap;
        position: absolute;
        top: 30%;
        left: 31%;
      }