@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes slide {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide2 {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
}

h1 {
    text-align: center;
    background-color: rgb(121, 117, 117);
    border-radius: 45px;
    font-size: 80px;
    opacity: 60%;
    color: lightskyblue;
    font-weight: bold;
    padding: 10px;
    animation-name: fadein;
    animation-duration: 5s;
    opacity: 100%;
    box-shadow: 5px 5px black;
}

h2 {
    color: lightskyblue;
    font-weight: bold;
    text-align: center;
    opacity: 60%;
    animation-name: slide;
    animation-duration: 5s;
}

body {
    background-image: url(code-blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    margin: 0;
    background-position: fixed;
}

li {
    color: rgb(231, 231, 120);
    text-align: center;
    animation-name: slide2;
    animation-duration: 5s;
}

ul {
    list-style-position: inside;
}

a {
    color: white;
}

img {
    height: 200px;
    width: 250px;
    margin: 1px auto 1px;
    display: block;
    border-radius: 30px;
    animation-name: slide2;
    animation-duration: 5s;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

img:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px;
}